{% load static %}

<head>
    <link rel="stylesheet" href="{% static "website/css/uikit.min.css" %}" />
    <link rel="stylesheet" href="{% static "website/css/blog/blog_self.css" %}" />
    <script src="{% static "website/js/jquery-3.3.1.min.js" %}" type="text/javascript"></script>
    <script src="{% static "website/js/jquery.mousewheel.js" %}" type="text/javascript"></script>
    <script src="{% static "website/js/uikit.min.js" %}" type="text/javascript" ></script>
    <script src="{% static "website/js/uikit-icons.min.js" %}" type="text/javascript" ></script>
    <script src="{% static "website/js/main_page.js" %}" type="text/javascript" ></script>
    <title>ЗА ПРАВДУ!</title>
</head>

<body>
    <div class="uk-height-1-1 uk-child-width-expand" uk-grid>
        <!-- Sidebar -->
        <!-- <div id="flanker" class="uk-width-1-4 uk-height-1-1 uk-background-cover uk-cover-container" data-src="../static/images/blog/Preview.png" uk-img> -->
        <div class="flanker uk-width-1-4 uk-height-1-1 uk-background-cover uk-cover-container" uk-img>
            <div id="masker" class="uk-text-center" uk-cover><div class="uk-card uk-card-body uk-height-1-1 uk-text-center">


                <div class="user_area">
                  <div class="uk-text-center"><h3>{{ user.proverb }}</h3></div>
                  <div class="uk-text-center"><img id="Jingyi" data-src="{% static "website/images/blog/Jingyi.jpeg" %}" width="125px" height="125px" uk-img></img></div>
                  <!-- <div class="uk-text-center"><h1>{{ user.user_name }}</h1></div> -->
                </div>

                <div class="navigate">
                    <ul class="uk-nav-center uk-nav-parent-icon" uk-nav>
                        <li><a onclick="Article()">ARTICLE</a></li>
                        <li><a onclick="Sources()">SOURCES</a></li>
                        <li><a onclick="AboutMe()">ABOUT ME</a></li>
                    </ul>
                </div>

                <div class="uk-text-center contact_icon">
                    <a href="mailto:{{ user.email_link }}" class="uk-icon-button" uk-icon="mail" target="_blank"></a>
                    <a href="{{ user.github_link }}" class="uk-icon-button" uk-icon="github" target="_blank"></a>
                    <a href="{{ user.facebook_link }}" class="uk-icon-button" uk-icon="facebook" target="_blank"></a>
                </div>
            </div></div>
        </div>

        <!-- Content display -->
        <div class="uk-width-1-1 blog-container" id="context-box">
            <hr class="uk-divider-icon">

<hr width=80% size=3 color=#5151A2 style="filter:progid:DXImageTransform.Microsoft.Shadow(color#5151A2,direction:145,strength:15)">

            <hr class="uk-divider-icon">
        </div>
    </div>
    <!-- <embed src="{% static "sound/blog/Thriller-cped.mp3" %}" autostart="true" loop="true" hidden="true"></embed> -->
</body>
