@charset "utf-8";

@font-face {
	font-family: lobster;
	src: url('../../font/lobster-1-3.eot'),
		url('../../font/lobster-1-3.ttf');
}

@font-face {
	font-family: bernardo-moda-bold;
	src: url('../../font/bernardo-moda-bold.eot'),
		url('../../font/bernardo-moda-bold.ttf');
}

body {
	background: #72D0F4;
	font-size: 14px;
	margin: 0 auto;
}

h1 {
	font-family: "lobster";
	color: #FFF;
	font-size: 96px;
	margin: 0 auto;
}

h2 {
	font-family: "bernardo-moda-bold";
	color: #FFF;
	font-size: 48px;
	margin-top: 0;
}

a {
	font-family: "bernardo-moda-bold";
	color: #FFF;
	font-size: 40px;
	text-decoration: none;
}

a:hover {
	color: #FFFF33;
	text-decoration: none;
}


.against_margin {
	margin-left: 0;
}

.menu {
	padding: 5% 12% 25% 12%;
}

.uk-grid {
	padding-left: 0;
}

.banner {
	margin-top: 15%;
	padding-right: 30px;
}


/* Video - Coverr */
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.35);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
